<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit">
      <file>tests/Unit/MessageRouterTest.php</file>
    </testsuite>
    <testsuite name="Feature">
      <file>tests/Feature/OpenSwooleSocketTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
