<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
  <testsuites>
    <testsuite name="All">
      <file>tests/SocketMessageRouterTest.php</file>
      <file>tests/SocketChannelTest.php</file>
      <file>tests/SocketListenerTest.php</file>
      <file>tests/SocketAssocTest.php</file>
      <file>tests/SocketFanoutTest.php</file>
      <file>tests/SocketChannelPersistenceTableTest.php</file>
      <file>tests/SocketUserAssocPersistenceTableTest.php</file>
      <file>tests/SocketListenerPersistenceTableTest.php</file>
      <file>tests/PipelineTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>